<div class="container">
    
    
    <div class="one column"></div>
    <div class="ten columns">
        <div class="header">
<!--             UniJagung Fake News  -->
        <h4 class="title center-text">Search Engine </h4>
        </div>
        <form action="/search" method="post">
        <div class="row">
            <input class="u-full-width" id="search" name="keyword" type="text" placeholder="Keywords/title/URL of news" />
        </div>
        <div class="row center-text">
            <button class="button-primary" type="submit">SEARCH</button>
<!--             <button class="button-primary" type="submit">URL SEARCH</button> -->
        </div>
        </form>
    </div>
    <div class="one column"></div>
</div>
